.recipeHeader {
    position: relative;
    height: 300px;
}

.recipeHeader h1 {
    position: absolute;
    bottom: 0;
    margin: 20px;
}

.recipeDescription {
    position: relative;
}

.recipeSteps {
    position: relative;
}